/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../../shared/in-content/common.inc.css

xul|caption {
  background-color: transparent;
}

xul|button,
html|button,
xul|colorpicker[type="button"],
xul|menulist {
  margin: 2px 4px;
}

xul|menulist:not([editable="true"]) > xul|*.menulist-dropmarker {
  margin-top: 1px;
  margin-bottom: 1px;
}

xul|checkbox {
  padding-inline-start: 0;
}

@media (-moz-windows-default-theme: 0) {
  xul|*.checkbox-check {
    background-image: none;
  }

  xul|*.checkbox-check[checked] {
    fill: -moz-dialogText;
    stroke: none;
    background-color: -moz-dialog;
  }
}

xul|radio {
  -moz-binding: url("chrome://global/content/bindings/radio.xml#radio");
  padding-inline-start: 0;
}

@media (-moz-windows-default-theme: 0) {
  xul|*.radio-check {
    background-image: none;
  }

  xul|*.radio-check[selected] {
    background-color: -moz-dialog;
    fill: -moz-dialogText;
  }
}

xul|*.radio-icon,
xul|*.checkbox-icon {
  margin-inline-end: 0;
}

/* Never draw a border for the focusring, use outline instead */
xul|*.menulist-label-box,
xul|*.radio-label-box {
  border-style: none;
}

xul|menulist:-moz-focusring > xul|*.menulist-label-box,
xul|radio[focused="true"] > xul|*.radio-label-box,
html|input[type="checkbox"]:-moz-focusring + html|label:before {
  outline: 1px dotted;
}

/* Use a 2px border so that selected row highlight is still visible behind
    an existing high-contrast border that uses the background color */
@media (-moz-windows-default-theme: 0) {
  xul|treechildren::-moz-tree-row(selected),
  xul|listbox xul|listitem[selected="true"] {
     border: 2px dotted Highlight;
  }
}

html|button {
  /* XUL button min-width */
  min-width: 6.3em;
}
