/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Sidebars */

#history-panel,
#bookmarksPanel {
  background-color: transparent;
}

#sidebar-search-container {
  padding: 8px;
}

.sidebar-placesTree {
  -moz-appearance: none;
  background-color: transparent;
  color: inherit;
  border: 0;
  margin: 0;
}

.sidebar-placesTreechildren::-moz-tree-cell,
.sidebar-placesTreechildren::-moz-tree-twisty {
  padding: 0 4px;
}

.sidebar-placesTreechildren::-moz-tree-cell(leaf) ,
.sidebar-placesTreechildren::-moz-tree-image(leaf) {
  cursor: pointer;
}

.sidebar-placesTreechildren::-moz-tree-cell-text(leaf, hover) {
  cursor: pointer;
  text-decoration: underline;
}

.sidebar-placesTreechildren::-moz-tree-cell(separator) {
  cursor: default;
}

@media (-moz-windows-default-theme) {
  .sidebar-placesTreechildren::-moz-tree-cell-text(leaf, hover) {
    text-decoration: none;
  }
}

/* Trees */

%include ../../shared/places/tree-icons.inc.css

/* Browser Sidebars */

/* Default button vert. margins are 1px/2px, and this can cause misalignment */
#viewButton {
  margin: 0;
  margin-inline-start: 4px;
}

#viewButton > .button-box > .button-menu-dropmarker {
  height: auto;
  width: auto;
  margin-inline-end: -3px;
}

#sidebar-search-container {
  padding: 4px;
}

#search-box {
  margin: 0;
}
