/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#sidebar-panel-fontinspector {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#sidebar-panel-fonteditor {
  padding: 1em;
}

#font-container {
  overflow: auto;
  flex: auto;
}

.fonts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.font {
  border: 1px solid var(--theme-splitter-color);
  border-width: 0 1px 1px 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 10px;
  padding: 10px 20px;
}

#font-container .theme-twisty {
  display: inline-block;
  cursor: pointer;
  vertical-align: bottom;
}

.font-preview-container {
  grid-column: 2;
  grid-row: 1 / span 2;
  overflow: hidden;
  display: grid;
  place-items: center end;
  position: relative;
}

.font-preview {
  height: 50px;
  display: block;
}

.font-preview:hover {
  cursor: text;
  background-image: linear-gradient(to right,
    var(--grey-40) 3px, transparent 3px, transparent);
  background-size: 6px 1px;
  background-repeat: repeat-x;
  background-position-y: 45px;
}

#font-container .font-preview-input {
  position: absolute;
  top: 5px;
  left: 0;
  width: calc(100% - 5px);
  height: calc(100% - 10px);
  background: transparent;
  color: transparent;
  border-radius: 0;
  padding: 0;
}

.font-preview-input::-moz-selection {
  background: transparent;
  color: transparent;
}

.font-name {
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
  white-space: nowrap;
}

.font-css-code {
  direction: ltr;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--theme-toolbar-color);
  grid-column: span 2;
  position: relative;
  inset-inline-start: -4px;
}

.font-css-code-expander::before {
  content: "\2026";
  display: inline-block;
  width: 12px;
  height: 8px;
  margin: 0 2px;
  line-height: 3px;
  color: var(--theme-body-color-inactive);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  vertical-align: middle;
}

.font-origin {
  margin-top: .2em;
  color: var(--grey-50);
  justify-self: start;
}

.font-origin.system {
  text-transform: capitalize;
}

.font-origin.remote {
  display: grid;
  grid-template-columns: 1fr 20px;
}

.font-origin.remote .url {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.font-origin .copy-icon {
  border: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  width: 12px;
  height: 12px;
  place-self: center;

  background: url(chrome://devtools/skin/images/copy.svg) no-repeat;
  background-size: 12px;
  background-position-x: -1px;
  -moz-context-properties: fill;
  fill: var(--theme-toolbar-color);

}

#font-container .devtools-sidepanel-no-result + .accordion {
  border-block-start: 1px solid var(--theme-splitter-color);
}
