/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Sidebars */

#history-panel,
#bookmarksPanel {
  -moz-appearance: none;
  background-color: transparent;
}

#sidebar-search-container {
  padding: 8px;
}

#search-box {
  margin: 0;
}

#viewButton {
  -moz-appearance: none;
  border-radius: 4px;
  margin: 1px 0;
  margin-inline-start: 4px;
  padding: 2px 4px;
  color: inherit;
}

#viewButton:-moz-focusring:not(:hover):not([open]) {
  outline: 1px dotted -moz-DialogText;
}

#viewButton:hover {
  background: hsla(240, 5%, 5%, 0.1);
}

#viewButton[open] {
  background: hsla(240, 5%, 5%, 0.15);
}

.sidebar-placesTree {
  margin: 0;
  color: inherit;
  -moz-appearance: none;
  background: transparent;
}

.sidebar-placesTreechildren::-moz-tree-cell(leaf) ,
.sidebar-placesTreechildren::-moz-tree-image(leaf) {
  cursor: pointer;
}

.sidebar-placesTreechildren::-moz-tree-cell-text(leaf, hover) {
  cursor: pointer;
  text-decoration: underline;
}

.sidebar-placesTreechildren::-moz-tree-cell(separator) {
  cursor: default;
}

/* Trees */

%include ../../shared/places/tree-icons.inc.css
