/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


label > span {
  flex: 0 0 9.5em;
}

input,
select {
  flex: 1 0 auto;
  width: calc(50% - 9.5em);
  margin: 0;
}

#given-name-container,
#additional-name-container,
#address-level1-container,
#postal-code-container,
#country-container,
#country-warning-message,
#family-name-container,
#organization-container,
#address-level2-container,
#tel-container {
  flex: 0 1 50%;
}

#tel-container {
  padding-inline-end: 50%;
}

#name-container,
#street-address-container,
#email-container {
  flex: 0 1 100%;
}

#street-address,
#email {
  flex: 1 0 auto;
}

#country-warning-message {
  box-sizing: border-box;
  align-items: center;
  text-align: start;
  color: #737373;
  padding-inline-start: 1em;
}
