/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  font-size: 1rem;
}

form,
label,
div,
p {
  display: flex;
}

form,
div {
  flex-wrap: wrap;
}

form {
  /* Add extra space to ensure invalid input box is displayed properly */
  padding: 2px;
}

form label,
form > p {
  margin: 0 0 0.5em !important;
}

label > span,
div > span {
  box-sizing: border-box;
  padding-inline-end: 0.7em;
  align-self: center;
  text-align: end;
  -moz-user-select: none;
}

option {
  padding: 0.3em 0.5em;
}

textarea {
  resize: none;
}

button {
  padding-right: 10px;
  padding-left: 10px;
}

input,
select {
  box-sizing: border-box;
}

#controls-container {
  flex: 0 1 100%;
  justify-content: end;
  margin: 1em 0 0;
}
