/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../shared/tree.inc.css

/* ::::: tree focusring ::::: */

.focusring > .tree-stack > .tree-rows > .tree-bodybox {
  border: 1px solid transparent;
}

.focusring:focus > .tree-stack > .tree-rows > .tree-bodybox {
  border: 1px solid -moz-mac-focusring;
}

/* ::::: editable tree ::::: */

.tree-input {
  -moz-appearance: none;
  border-width: 0;
  box-shadow: var(--focus-ring-box-shadow);
}
