/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

menu {
  display: inline;
  padding: 0;
}

menu > menuitem::after {
  content: "\25BA";
  float: right;
  padding-left: 5px;
}

menu > menupopup {
  display: none;
}

menu > menuitem:hover + menupopup,
menu > menupopup:hover {
  display: block;
}

menupopup {
  position: fixed;
  z-index: 10000;
  background: white;
  border: 1px solid #cccccc;
  padding: 5px 0;
  background: #f2f2f2;
  border-radius: 5px;
  color: #585858;
  box-shadow: 0 0 4px 0 rgba(190, 190, 190, 0.8);
  min-width: 130px;
}

menuitem {
  display: block;
  padding: 0 20px;
  line-height: 20px;
  font-weight: 500;
  font-size: 13px;
  -moz-user-select: none;
  user-select: none;
}

menuitem:hover {
  background: #3780fb;
  color: white;
  cursor: pointer;
}

menuitem[disabled=true] {
  color: #cccccc;
}

menuitem[disabled=true]:hover {
  background-color: transparent;
  cursor: default;
}

menuitem[type=checkbox]::before {
  content: "";
  width: 10px;
  display: inline-block;
}

menuitem[type=checkbox][checked=true]::before {
  content: "\2713";
  left: -8px;
  position: relative;
}

menuseparator {
  border-bottom: 1px solid #cacdd3;
  width: 100%;
  height: 5px;
  display: block;
  margin-bottom: 5px;
}

#contextmenu-mask.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root.theme-light,
:root .theme-light {
  --theme-search-overlays-semitransparent: rgba(221, 225, 228, 0.66);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#mount {
  display: flex;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(113, 113, 113, 0.5);
}

:root.theme-dark .CodeMirror-scrollbar-filler {
  background: transparent;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.landing-page {
  flex: 1;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  align-items: stretch;
  /* Customs properties */
  --title-font-size: 24px;
  --ui-element-font-size: 16px;
  --primary-line-height: 22px;
  --secondary-line-height: 25px;
  --base-spacing: 20px;
  --base-transition: all 0.25s ease;
}

.landing-popup {
  min-width: 0;
}

.landing-page .panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.landing-page .panel header {
  display: flex;
  align-items: baseline;
  margin: calc(2 * var(--base-spacing)) 0 0;
  padding-bottom: var(--base-spacing);
}

.landing-page .panel header input[type="search"] {
  flex: 1;
  background-color: var(--theme-tab-toolbar-background);
  color: var(--theme-comment);
  font-size: var(--ui-element-font-size);
  border: 1px solid var(--theme-splitter-color);
  padding: calc(var(--base-spacing) / 2);
  margin: 0 var(--base-spacing);
  transition: var(--base-transition);
}

.landing-page .panel .hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page button {
  background-color: var(--theme-tab-toolbar-background);
  color: var(--theme-comment);
  font-size: var(--ui-element-font-size);
  border: 1px solid var(--theme-splitter-color);
  padding: calc(var(--base-spacing) / 2);
  margin: 0 var(--base-spacing);
  transition: var(--base-transition);
  cursor: pointer;
}

.landing-page .panel header h1 {
  color: var(--theme-body-color);
  font-size: var(--title-font-size);
  margin: 0;
  line-height: var(--primary-line-height);
  font-weight: normal;
  padding-left: calc(2 * var(--base-spacing));
}

.landing-page .panel h3 {
  padding-left: calc(2 * var(--base-spacing));
}

.landing-page .panel header input::placeholder {
  color: var(--theme-body-color-inactive);
}

.landing-page .panel header input:focus {
  border: 1px solid var(--theme-selection-background);
}

.landing-page .panel .center-message {
  font-size: var(--ui-element-font-size);
  line-height: var(--secondary-line-height);
  padding: calc(var(--base-spacing) / 2);
}

.landing-page .center a {
  color: var(--theme-highlight-bluegrey);
  text-decoration: none;
}

.landing-page .panel .footer-note {
  padding: var(--base-spacing) 0;
  text-align: center;
  font-size: 14px;
  color: var(--theme-comment);
}

.landing-page .panel .launch-action-container {
  text-align: center;
}

.landing-page .panel .under-construction {
  display: flex;
  width: 417px;
  color: var(--theme-comment);
  font-size: calc(var(--ui-element-font-size) / 1);
  margin: var(--base-spacing) auto;
  max-width: 350px;

  line-height: 1.4em;
}

.landing-page .panel .under-construction .github-link {
  display: block;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.landing-page .tab-group {
  flex: 1;
  overflow-y: auto;
}

.landing-page .tab-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.landing-page .tab {
  border-bottom: 1px solid var(--theme-splitter-color);
  padding: calc(var(--base-spacing) / 2) var(--base-spacing);
  font-family: sans-serif;
  cursor: pointer;
}

.landing-page .tab-sides {
  display: flex;
  justify-content: space-between;
  margin: 0 calc(var(--base-spacing) * 2);
}

.landing-page .tab-title {
  line-height: var(--secondary-line-height);
  font-size: var(--ui-element-font-size);
  color: var(--theme-highlight-bluegrey);
  word-break: break-all;
}

.landing-page .tab-url {
  color: var(--theme-comment);
  word-break: break-all;
}

.landing-page .tab-value {
  color: var(--theme-comment);
  line-height: var(--secondary-line-height);
  font-size: var(--ui-element-font-size);
}

.landing-page .tab:focus,
.landing-page .tab.active {
  background: var(--theme-selection-background);
  color: var(--theme-selection-color);
  transition: var(--base-transition);
}

.landing-page .tab:focus .tab-title,
.landing-page .tab.active .tab-title {
  color: inherit;
}

.landing-page .tab:focus .tab-url,
.landing-page .tab.active .tab-url {
  color: var(--theme-highlight-gray);
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.landing-page .sidebar {
  --sidebar-width: 200px;
  display: flex;
  background-color: var(--theme-tab-toolbar-background);
  width: var(--sidebar-width);
  flex-direction: column;
  border-right: 1px solid var(--theme-splitter-color);
}

.landing-page .sidebar h1 {
  color: var(--theme-body-color);
  font-size: var(--title-font-size);
  margin: 0;
  line-height: var(--primary-line-height);
  font-weight: bold;
  padding: var(--base-spacing) var(--base-spacing);
}

.landing-page .sidebar ul {
  list-style: none;
  padding: 0;
  line-height: var(--primary-line-height);
  font-size: var(--ui-element-font-size);
}

.landing-page .sidebar li {
  padding: calc(var(--base-spacing) / 4) var(--base-spacing);
}

.landing-page .sidebar li a {
  color: var(--theme-body-color);
}

.landing-page .sidebar li.selected {
  background: var(--theme-highlight-bluegrey);
  color: var(--theme-selection-color);
  transition: var(--base-transition);
}

.landing-page .sidebar li.selected a {
  color: inherit;
}

.landing-page .sidebar li:hover,
.landing-page .sidebar li:focus {
  background: var(--theme-selection-background);
  color: var(--theme-selection-color);
  cursor: pointer;
}

.landing-page .sidebar li:hover a,
.landing-page .sidebar li:focus a {
  color: inherit;
}

.landing-page .sidebar li:last-child {
  border-top: 2px solid var(--theme-splitter-color);
  margin: 2px;
}

.landing-page .sidebar .title-wrapper .launchpad-container {
  padding-left: var(--base-spacing);
}

.landing-page
  .sidebar
  .title-wrapper
  .launchpad-container
  .launchpad-container-icon {
  display: inline-block;
}

.landing-page .sidebar .title-wrapper .launchpad-container .rocket svg {
  width: 18px;
  height: 18px;
}

.landing-page
  .sidebar
  .title-wrapper
  .launchpad-container
  .launchpad-container-title {
  display: inline;
  padding-left: 3px;
  font-weight: normal;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.modal-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: z-index 200ms;
  z-index: 100;
}

.modal {
  display: flex;
  width: 80%;
  max-height: 80vh;
  overflow-y: auto;
  background-color: var(--theme-toolbar-background);
  transition: transform 150ms cubic-bezier(0.07, 0.95, 0, 1);
  box-shadow: 1px 1px 3px 1px var(--popup-shadow-color);
}

.modal.entering,
.modal.exited {
  transform: translateY(-101%);
}

.modal.entered,
.modal.exiting {
  transform: translateY(5px);
  flex-direction: column;
}

/* This rule is active when the screen is not narrow */
@media (min-width: 580px) {
  .modal {
    width: 50%;
  }
}

@media (min-height: 340px) {
  .modal.entered,
  .modal.exiting {
    transform: translateY(30px);
  }
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.shortcuts-content {
  padding: 15px;
  -moz-column-width: 250px;
  -webkit-column-width: 250px;
  column-width: 250px;
}

.shortcuts-content h2 {
  margin-top: 2px;
  margin-bottom: 2px;
  color: var(--theme-content-color1);
}

.shortcuts-section {
  display: inline-block;
  margin: 5px;
  margin-bottom: 15px;
  width: 250px;
}

.shortcuts-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  width: calc(100% - 1px); /* 1px fixes the hidden right border */
}

.shortcuts-list li {
  font-size: 12px;
  color: var(--theme-body-color);
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
}

@media (max-width: 640px) {
  .shortcuts-section {
    width: 100%;
  }
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

:root {
  --icon-size: 13px;
}

:root.theme-light,
:root .theme-light {
  --popup-shadow-color: #d0d0d0;
}

:root.theme-dark,
:root .theme-dark {
  --popup-shadow-color: #5c667b;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

* {
  box-sizing: border-box;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

button:hover,
button:focus {
  background-color: var(--theme-toolbar-background-hover);
}

.debugger {
  display: flex;
  flex: 1;
  height: 100%;
}

.editor-pane {
  display: flex;
  position: relative;
  flex: 1;
  background-color: var(--theme-tab-toolbar-background);
  height: calc(100% - 1px);
  overflow: hidden;
}

.theme-dark .editor-pane {
  background-color: var(--theme-toolbar-background);
}

.editor-container {
  width: 100%;
}

.search-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 200;
  background-color: var(--search-overlays-semitransparent);
}

.search-container .close-button {
  width: 16px;
  margin-top: 25px;
  margin-right: 20px;
}

/* Utils */
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.rounded-circle {
  border-radius: 50%;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.min-width-0 {
  min-width: 0;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

menupopup {
  position: fixed;
  z-index: 10000;
  background: white;
  border: 1px solid #cccccc;
  padding: 5px 0;
  background: #f2f2f2;
  border-radius: 5px;
  color: #585858;
  box-shadow: 0 0 4px 0 rgba(190, 190, 190, 0.8);
  min-width: 130px;
}

menuitem {
  display: block;
  padding: 0 20px;
  line-height: 20px;
  font-weight: 500;
  font-size: 13px;
  -moz-user-select: none;
  user-select: none;
}

menuitem:hover {
  background: #3780fb;
  color: white;
}

menuitem[disabled="true"] {
  color: #cccccc;
}

menuitem[disabled="true"]:hover {
  background-color: transparent;
  cursor: default;
}

menuseparator {
  border-bottom: 1px solid #cacdd3;
  width: 100%;
  height: 5px;
  display: block;
  margin-bottom: 5px;
}

#contextmenu-mask.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.theme-dark,
.theme-light {
  --number-color: var(--theme-highlight-green);
  --string-color: var(--theme-highlight-orange);
  --null-color: var(--theme-comment);
  --object-color: var(--theme-body-color);
  --caption-color: var(--theme-highlight-blue);
  --location-color: var(--theme-content-color1);
  --source-link-color: var(--theme-highlight-blue);
  --node-color: var(--theme-highlight-bluegrey);
  --reference-color: var(--theme-highlight-purple);
}

.theme-firebug {
  --number-color: #000088;
  --string-color: #ff0000;
  --null-color: #787878;
  --object-color: DarkGreen;
  --caption-color: #444444;
  --location-color: #555555;
  --source-link-color: blue;
  --node-color: rgb(0, 0, 136);
  --reference-color: rgb(102, 102, 255);
}

/******************************************************************************/

.objectLink:hover {
  text-decoration: underline;
}

.inline {
  display: inline;
  white-space: normal;
}

.objectBox-object {
  font-weight: bold;
  color: var(--object-color);
  white-space: pre-wrap;
}

.objectBox-string,
.objectBox-text,
.objectLink-textNode,
.objectBox-table {
  white-space: pre-wrap;
}

.objectBox-number,
.objectLink-styleRule,
.objectLink-element,
.objectLink-textNode,
.objectBox-array > .length {
  color: var(--number-color);
}

.objectBox-string {
  color: var(--string-color);
}

.objectLink-function,
.objectBox-stackTrace,
.objectLink-profile {
  color: var(--object-color);
}

.objectLink-Location {
  font-style: italic;
  color: var(--location-color);
}

.objectBox-null,
.objectBox-undefined,
.objectBox-hint,
.logRowHint {
  font-style: italic;
  color: var(--null-color);
}

.objectLink-sourceLink {
  position: absolute;
  right: 4px;
  top: 2px;
  padding-left: 8px;
  font-weight: bold;
  color: var(--source-link-color);
}

/******************************************************************************/

.objectLink-event,
.objectLink-eventLog,
.objectLink-regexp,
.objectLink-object,
.objectLink-Date {
  font-weight: bold;
  color: var(--object-color);
  white-space: pre-wrap;
}

/******************************************************************************/

.objectLink-object .nodeName,
.objectLink-NamedNodeMap .nodeName,
.objectLink-NamedNodeMap .objectEqual,
.objectLink-NamedNodeMap .arrayLeftBracket,
.objectLink-NamedNodeMap .arrayRightBracket,
.objectLink-Attr .attrEqual,
.objectLink-Attr .attrTitle {
  color: var(--node-color);
}

.objectLink-object .nodeName {
  font-weight: normal;
}

/******************************************************************************/

.objectLeftBrace,
.objectRightBrace,
.arrayLeftBracket,
.arrayRightBracket {
  font-weight: bold;
}

.objectLeftBrace,
.arrayLeftBracket {
  margin-right: 4px;
}

.objectRightBrace,
.arrayRightBracket {
  margin-left: 4px;
}

/******************************************************************************/
/* Cycle reference*/

.objectLink-Reference {
  font-weight: bold;
  color: var(--reference-color);
}

.objectBox-array > .objectTitle {
  font-weight: bold;
  color: var(--object-color);
}

.caption {
  font-weight: bold;
  color: var(--caption-color);
}

/******************************************************************************/
/* Themes */

.theme-dark .objectBox-null,
.theme-dark .objectBox-undefined,
.theme-light .objectBox-null,
.theme-light .objectBox-undefined {
  font-style: normal;
}

.theme-dark .objectBox-object,
.theme-light .objectBox-object {
  font-weight: normal;
  white-space: pre-wrap;
}

.theme-dark .caption,
.theme-light .caption {
  font-weight: normal;
}
/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.split-box {
  display: flex;
  flex: 1;
  min-width: 0;
  height: 100%;
  width: 100%;
}

.split-box.vert {
  flex-direction: row;
}

.split-box.horz {
  flex-direction: column;
}

.split-box > .uncontrolled {
  display: flex;
  flex: 1;
  min-width: 0;
  overflow: auto;
}

.split-box > .controlled {
  display: flex;
  overflow: auto;
}

.split-box > .splitter {
  background-image: none;
  border: 0;
  border-style: solid;
  border-color: transparent;
  background-color: var(--theme-splitter-color);
  background-clip: content-box;
  position: relative;

  box-sizing: border-box;

  /* Positive z-index positions the splitter on top of its siblings and makes
     it clickable on both sides. */
  z-index: 1;
}

.split-box.vert > .splitter {
  min-width: calc(var(--devtools-splitter-inline-start-width) +
    var(--devtools-splitter-inline-end-width) + 1px);

  border-left-width: var(--devtools-splitter-inline-start-width);
  border-right-width: var(--devtools-splitter-inline-end-width);

  margin-left: calc(-1 * var(--devtools-splitter-inline-start-width) - 1px);
  margin-right: calc(-1 * var(--devtools-splitter-inline-end-width));

  cursor: ew-resize;
}

.split-box.horz > .splitter {
  min-height: calc(var(--devtools-splitter-top-width) +
    var(--devtools-splitter-bottom-width) + 1px);

  border-top-width: var(--devtools-splitter-top-width);
  border-bottom-width: var(--devtools-splitter-bottom-width);

  margin-top: calc(-1 * var(--devtools-splitter-top-width) - 1px);
  margin-bottom: calc(-1 * var(--devtools-splitter-bottom-width));

  cursor: ns-resize;
}

.split-box.disabled {
  pointer-events: none;
}

/**
 * Make sure splitter panels are not processing any mouse
 * events. This is good for performance during splitter
 * bar dragging.
 */
.split-box.dragging > .controlled,
.split-box.dragging > .uncontrolled {
  pointer-events: none;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.arrow,
.worker,
.refresh,
.shortcut,
.add-button {
  fill: var(--theme-splitter-color);
}

.file,
.folder,
.domain {
  background-color: var(--theme-comment);
}

.worker,
.file,
.folder {
  position: relative;
  top: 2px;
}

.domain,
.worker,
.refresh,
.add-button {
  position: relative;
  top: 1px;
}

.worker svg,
.refresh svg,
.shortcut svg,
.add-button svg {
  width: 15px;
}

img.domain,
img.folder {
  width: 15px;
  height: 15px;
}

img.domain {
  mask: url("chrome://devtools/skin/images/debugger/domain.svg") no-repeat;
}

img.folder {
  mask: url("chrome://devtools/skin/images/debugger/folder.svg") no-repeat;
}

img.file {
  mask: url("chrome://devtools/skin/images/debugger/file.svg") no-repeat;
  width: 13px;
  height: 13px;
}

img.domain,
img.folder,
img.file {
  mask-size: 100%;
  margin-inline-end: 5px;
  display: inline-block;
}

.refresh svg,
.shortcut svg,
.worker svg {
  margin-inline-end: 5px;
}

img.arrow {
  mask: url("chrome://devtools/skin/images/debugger/arrow.svg");
  margin-inline-end: 5px;
  margin-top: 3px;
  width: 9px;
  height: 9px;
  padding-top: 9px;
  background: var(--disclosure-arrow);
  mask-size: 100%;
  display: inline-block;
  margin-bottom: 1px;
  transform: rotate(-90deg);
  transition: transform 0.18s ease;
}

html[dir="ltr"] img.arrow {
  transform: rotate(-90deg);
}

html[dir="rtl"] img.arrow {
  transform: rotate(90deg);
}

/* TODO (Amit): html is just for specificity. keep it like this? */
html .arrow.expanded svg {
  transform: rotate(0deg);
}

.arrow.hidden {
  visibility: hidden;
}

.webpack svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: sub;
}

.function svg {
  height: 10px;
  width: 15px;
}

.function path {
  fill: var(--theme-body-color);
}

.angular svg,
.source-icon svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  vertical-align: sub;
}

.angular,
.webpack {
  opacity: 0.8;
}

.theme-dark .angular,
.theme-dark .webpack {
  opacity: 0.5;
}

.source-icon svg {
  fill: var(--theme-comment);
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.managed-tree .tree {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  white-space: nowrap;
  overflow: auto;
  min-width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
}

.managed-tree .tree button {
  display: block;
}

.managed-tree .tree .node {
  padding: 2px 3px 2px 3px;
  position: relative;
}

.managed-tree .tree .node.focused {
  color: white;
  background-color: var(--theme-selection-background);
}

html:not([dir="rtl"]) .managed-tree .tree .node > div {
  margin-left: 10px;
}

html[dir="rtl"] .managed-tree .tree .node > div {
  margin-right: 10px;
}

.managed-tree .tree .node.focused svg {
  fill: white;
}

.managed-tree .tree-node button {
  position: fixed;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tree {
  overflow: auto;
}

.tree.inline {
  display: inline-block;
}

.tree.nowrap {
  white-space: nowrap;
}

.tree.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.tree button {
  display: block;
}

.tree .tree-node {
  display: flex;
}

.tree .tree-node:not(.focused):hover {
  background-color: var(--theme-selection-background-hover);
}

.tree-indent {
  display: inline-block;
  width: 12px;
  margin-inline-start: 5px;
  border-inline-start: 1px solid #A2D1FF;
  flex-shrink: 0;
}

/* Align with expandables siblings (where we have the arrow) */
.tree-node[data-expandable="false"] .tree-indent:last-of-type {
  margin-inline-end: 15px;
}

/* For non expandable root nodes, we don't have .tree-indent elements, so we declare
   the margin on the start of the node */
.tree-node[data-expandable="false"][aria-level="0"] {
  padding-inline-start: 15px
}

.tree .tree-node[data-expandable="true"] {
  cursor: default;
}

.tree .tree-node.focused {
  color: white;
  background-color: var(--theme-selection-background, #0a84ff);
}

.tree-node.focused .arrow svg {
  fill: currentColor;
}

.tree-node:hover img {
  background-color: var(--theme-content-color3);
}

.arrow svg {
  fill: var(--theme-splitter-color, #9B9B9B);
  transition: transform 0.125s ease;
  width: 10px;
  margin-inline-end: 5px;
  transform: rotate(-90deg);
}

html[dir="rtl"] .arrow svg,
.arrow svg:dir(rtl),
.arrow svg:-moz-locale-dir(rtl) {
  transform: rotate(90deg);
}

.arrow.expanded.expanded svg {
  transform: rotate(0deg);
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.close-btn {
  width: 14px;
  height: 14px;
  border: 1px solid transparent;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.close-btn .close {
  mask: url("chrome://devtools/skin/images/debugger/close.svg") no-repeat;
  mask-size: 100%;
  background-color: var(--theme-comment);
  width: 8px;
  height: 8px;
  transition: all 0.15s ease-in-out;
  padding: 0;
  margin-top: 0;
}

.close-btn:hover img.close {
  background-color: white;
}

.close-btn:hover {
  background-color: var(--theme-selection-background);
}

.close-btn.big {
  width: 16px;
  height: 16px;
}

.close-btn.big .close {
  width: 9px;
  height: 9px;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.search-field {
  width: calc(100% - 1px);
  height: 27px;
  background-color: var(--theme-toolbar-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  padding-right: 10px;
  display: flex;
  flex-shrink: 0;
}

.search-field.big {
  height: 40px;
}

.search-field i {
  display: block;
  padding: 0;
  width: 16px;
}

.search-field i svg {
  width: 16px;
}

.search-field.big input {
  line-height: 40px;
}

.search-field input {
  border: none;
  line-height: 30px;
  background-color: var(--theme-toolbar-background);
  color: var(--theme-body-color-inactive);
  width: calc(100% - 38px);
  flex: 1;
}

.theme-dark .search-field input {
  color: var(--theme-body-color-inactive);
}

.search-field i.magnifying-glass,
.search-field i.sad-face {
  padding: 6px;
  width: 24px;
}

.search-field.big i.magnifying-glass,
.search-field.big i.sad-face {
  padding: 14px;
  width: 40px;
}

.search-field .magnifying-glass path,
.search-field .magnifying-glass ellipse {
  stroke: var(--theme-comment);
}

.search-field input::placeholder {
  color: var(--theme-toolbar-color);
}

.search-field input:focus {
  outline-width: 0;
}

.search-field input.empty {
  color: var(--theme-highlight-orange);
}

.search-field.big .summary {
  line-height: 40px;
}

.search-field .summary {
  line-height: 27px;
  padding-right: 10px;
  color: var(--theme-body-color-inactive);
}

.search-field .search-nav-buttons {
  display: flex;
  user-select: none;
}

.search-field .search-nav-buttons .nav-btn {
  display: flex;
  height: 100%;
  background: transparent;
  transition: all 0.25s ease-in-out;
  border: 1px solid transparent;
  justify-content: center;
  padding-top: 4px;
}

.search-field .search-nav-buttons .nav-btn:hover {
  background: var(--theme-toolbar-background-hover);
}

.search-field .search-nav-buttons .nav-btn:active path {
  fill: var(--theme-comment-alt);
}

.search-field .search-nav-buttons .nav-btn path {
  fill: var(--theme-comment);
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.search-container {
  position: absolute;
  top: 30px;
  left: 0;
  width: calc(100% - 1px);
  height: calc(100% - 31px);
  display: flex;
  flex-direction: column;
  z-index: 20;
  background-color: var(--theme-body-background);
  overflow-y: hidden;
}

.project-text-search {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 100%;
}

.project-text-search .result {
  display: flex;
  cursor: default;
  padding: 4px 0 4px 30px;
  line-height: 16px;
  font-size: 10px;
  width: 100%;
}

.project-text-search .matches-summary {
  margin-left: 5px;
}

.project-text-search .result {
  font-family: Menlo, monospace;
}

.project-text-search .result.focused {
  background-color: var(--search-overlays-semitransparent);
}

.project-text-search .result .query-match {
  background-color: var(--theme-selection-background);
  color: white;
  padding: 1px 4px;
  margin: 0 2px 0 2px;
  border-radius: 2px;
}

.project-text-search .result.focused .line-number {
  font-weight: bolder;
}

.project-text-search .result .line-number {
  margin-right: 1em;
  width: 2em;
  margin-left: 0.8em;
}

.project-text-search .no-result-msg {
  color: var(--theme-body-color-inactive);
  font-size: 24px;
  padding: 4px 15px;
  max-width: 100%;
  overflow-wrap: break-word;
  hyphens: auto;
}

.project-text-search .file-result {
  font-weight: bold;
  line-height: 20px;
  cursor: default;
  padding: 2px 0 2px 5px;
  font-size: 12px;
}

.project-text-search .file-result .arrow {
  margin: 2px 0 2px 0;
}

.project-text-search .file-result.focused {
  background-color: var(--search-overlays-semitransparent);
}

.project-text-search .line-match {
  display: "flex";
  flex-grow: 1;
}

.project-text-search .search-field {
  display: flex;
  align-self: stretch;
  flex-grow: 1;
}

.project-text-search .search-field .close-btn.big {
  margin-top: 12px;
}

.project-text-search .managed-tree {
  overflow-y: auto;
  height: 100%;
}

.project-text-search .managed-tree .tree {
  height: 100%;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.sources-panel {
  background-color: var(--theme-sidebar-background);
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.sources-panel * {
  -moz-user-select: none;
  user-select: none;
}

.sources-list {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.sources-list .tree:focus {
  outline: none;
}

.sources-list .managed-tree {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.sources-list .managed-tree .tree .node {
  padding: 0 10px 0 3px;
  width: 100%;
}

.sources-list .tree img.arrow {
  margin-right: 5px;
}

.sources-list .tree .focused img.arrow {
  background-color: white;
}

.sources-list .tree img.arrow.expanded {
  transform: rotate(0deg);
}

.theme-dark .source-list .tree .node.focused {
  background-color: var(--theme-tab-toolbar-background);
}

.sources-list .tree .focused .label {
  background-color: var(--theme-selection-background);
}

.sources-list .tree .label {
  padding: 3px 0px 3px 0px;
  display: inline-block;
}

.sources-list .tree .node .no-arrow {
  width: 10px;
  display: inline-block;
}

.no-sources-message {
  width: 100%;
  font-style: italic;
  text-align: center;
  padding: 0.5em;
  font-size: 12px;
  user-select: none;
  justify-content: center;
  align-items: center;
}

.sources-panel .outline {
  display: flex;
  flex: 1;
}

.tree-indent {
  border-inline-start: 0 none;
}

.source-outline-tabs {
  width: 100%;
  background: var(--theme-body-background);
  border-top: 1px solid var(--theme-splitter-color);
  display: flex;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
  height: 30px;
}

.source-outline-tabs .tab {
  background-color: var(--theme-toolbar-background);
  border-bottom: 1px solid transparent;
  border-color: var(--theme-splitter-color);
  color: var(--theme-body-color);
  cursor: default;
  display: inline-flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: -1px;
  overflow: hidden;
  padding: 8px 8px 7px 8px;
  position: relative;
  transition: all 0.25s ease;
}

.source-outline-tabs .tab:first-child {
  border-inline-end: 1px solid var(--theme-splitter-color);
}

.source-outline-tabs .tab:hover {
  background-color: var(--theme-toolbar-background-alt);
  border-color: var(--theme-splitter-color);
}

.source-outline-tabs .tab.active {
  background-color: var(--theme-body-background);
  border-bottom-color: transparent;
}

.source-outline-tabs .tab.active path,
.source-outline-tabs .tab:hover path {
  fill: var(--theme-body-color);
}

.sources-list .managed-tree .tree .node img.blackBox {
  mask: url("chrome://devtools/skin/images/debugger/blackBox.svg") no-repeat;
  mask-size: 100%;
  background-color: var(--theme-highlight-blue);
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-inline-end: 5px;
  margin-bottom: -2px;
}

.sources-list .managed-tree .tree .node.focused img {
  background-color: white;
}

.theme-dark .sources-list .managed-tree .tree .node:not(.focused) img.blackBox {
  background-color: var(--theme-comment);
}

.theme-dark .sources-list .managed-tree .tree .node img.blackBox {
  background-color: var(--theme-body-color);
}

.theme-dark .sources-list .managed-tree .tree .node.focused img.blackBox {
  background-color: white;
}

.tree:not(.object-inspector)
  .tree-node[data-expandable="false"]
  .tree-indent:last-of-type {
  margin-inline-end: 4px;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.outline {
  overflow-y: hidden;
}

.outline > div {
  width: 100%;
  position: relative;
}

.outline .outline-pane-info {
  width: 100%;
  font-style: italic;
  text-align: center;
  padding: 0.5em;
  user-select: none;
  font-size: 12px;
  overflow: hidden;
}

.outline-list {
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
  font-family: var(--monospace-font-family);
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 25px;
}

.outline-list__class-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.outline-list__class-list .function-signature .function-name {
  color: var(--theme-highlight-green);
}

.outline-list .function-signature .paren {
  color: inherit;
}

.outline-list h2 {
  font-weight: normal;
  font-size: 1em;
  margin: 10px 0 10px 10px;
  color: var(--blue-55);
}

.outline-list h2:hover {
  background: var(--theme-toolbar-background-hover);
}

.theme-dark .outline-list h2 {
  color: var(--theme-highlight-blue);
}

.outline-list h2 .keyword {
  color: var(--theme-highlight-red);
}

.outline-list__element {
  padding: 3px 10px 3px 10px;
  cursor: default;
  white-space: nowrap;
}

.outline-list__element-icon {
  padding-right: 0.4rem;
  padding-left: 1rem;
}

.outline-list__element:hover {
  background: var(--theme-toolbar-background-hover);
}

.outline-footer {
  background: var(--theme-body-background);
  border-top: 1px solid var(--theme-splitter-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 1;
  -moz-user-select: none;
  user-select: none;
  height: 25px;
  box-sizing: border-box;
  display: flex;
}

.outline-footer button.active {
  background: var(--theme-highlight-blue);
  color: #ffffff;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.function-signature {
  align-self: center;
}

.function-signature .function-name {
  color: var(--theme-highlight-blue);
}

.function-signature .param {
  color: var(--theme-highlight-red);
}

.function-signature .paren {
  color: var(--object-color);
}

.function-signature .comma {
  color: var(--object-color);
}
.command-bar-button {
  appearance: none;
  background: transparent;
  border: none;
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 0px 5px;
  fill: currentColor;
}

.command-bar-button:focus {
  outline: none;
}

.command-bar-button:disabled {
  opacity: 0.8;
  cursor: default;
}

.command-bar-button:not(.disabled):hover {
  background: var(--theme-toolbar-background-hover);
}

:root.theme-dark .command-bar-button {
  color: var(--theme-body-color);
}

.command-bar-button > * {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.toggle-button {
  transform: translate(0, 0px);
  transition: transform 0.25s ease-in-out;
  padding: 5px;
}

.toggle-button .togglePanes {
  vertical-align: -2px;
}

.toggle-button svg {
  fill: var(--theme-comment);
  vertical-align: 0;
}

:root.theme-dark .toggle-button svg {
  fill: var(--theme-comment-alt);
}

.toggle-button.end {
  margin-inline-end: 0px;
  margin-inline-start: auto;
}

.toggle-button.start {
  margin-inline-start: 0px;
}

html:not([dir="rtl"]) .toggle-button.end svg,
html[dir="rtl"] .toggle-button.start svg {
  transform: rotate(180deg);
}

html .toggle-button.end.vertical svg {
  transform: rotate(-90deg);
}

.toggle-button.start.collapsed,
.toggle-button.end.collapsed {
  transform: rotate(180deg);
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.source-footer {
  background: var(--theme-body-background);
  border-top: 1px solid var(--theme-splitter-color);
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 1;
  -moz-user-select: none;
  user-select: none;
  height: var(--editor-footer-height);
  box-sizing: border-box;
}

.source-footer .commands {
  display: flex;
  align-items: center;
}

.source-footer .commands * {
  -moz-user-select: none;
  user-select: none;
}

.source-footer > .commands > .action {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms;
  border: none;
  background: transparent;
  padding: 6px;
}

.source-footer > .commands > .action img {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.source-footer > button.action:hover {
  background: var(--theme-toolbar-background-hover);
}

.source-footer > .commands > button.action:focus {
  outline: none;
}

:root.theme-dark .source-footer > .commands > .action {
  fill: var(--theme-body-color);
}

:root.theme-dark .source-footer > .commands > .action:hover {
  fill: var(--theme-selection-color);
}

.source-footer > .commands > .action > img.prettyPrint {
  mask: url("chrome://devtools/skin/images/debugger/prettyPrint.svg") no-repeat;
  height: 16px;
  width: 16px;
  background: var(--theme-body-color);
}

.source-footer > .commands > .action > img.blackBox {
  mask: url("chrome://devtools/skin/images/debugger/blackBox.svg") no-repeat;
  height: 16px;
  width: 16px;
  background: var(--theme-body-color);
}

.source-footer .commands .coverage {
  color: var(--theme-body-color);
}

.coverage-on .source-footer .commands .coverage {
  color: var(--theme-highlight-blue);
  border: 1px solid var(--theme-body-color-inactive);
  border-radius: 2px;
}

.source-footer > .commands > .blackboxed > img.blackBox {
  background: var(--theme-highlight-blue);
}

.source-footer .blackbox-summary {
  color: var(--theme-body-color);
}

.source-footer .mapped-source {
  color: var(--theme-body-color);
  padding: 2.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.search-bar {
  display: flex;
  flex-direction: column;
}

.search-bar .search-field {
  padding-left: 7px;
  height: var(--editor-searchbar-height);
}

.search-field .close-btn {
  margin-top: 7px;
}

.search-bottom-bar * {
  -moz-user-select: none;
  user-select: none;
}

.search-bottom-bar {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  width: calc(100% - 1px);
  height: var(--editor-second-searchbar-height);
  background-color: var(--theme-toolbar-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  padding: 0 13px;
}

.search-bottom-bar button:focus {
  outline: none;
}

.search-bottom-bar .search-modifiers {
  display: flex;
  align-items: center;
}

.search-bottom-bar .search-modifiers button {
  padding: 0 3px;
  margin: 0 3px;
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.search-bottom-bar .search-modifiers button i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 16px;
}

.search-bottom-bar .search-modifiers button svg {
  fill: var(--theme-comment);
  height: 16px;
  width: 16px;
}

.search-bottom-bar .search-modifiers button:hover {
  background: var(--theme-toolbar-background-hover);
}

.search-bottom-bar .search-modifiers button:active {
  outline: none;
}

.search-bottom-bar .search-modifiers button.active svg {
  fill: var(--theme-selection-background);
}

.theme-dark .search-bottom-bar .search-modifiers button.active svg {
  fill: white;
}

.search-bottom-bar .search-type-toggles {
  display: flex;
  align-items: center;
  max-width: 68%;
}

.search-bottom-bar .search-type-name {
  padding: 1px 0 0 0;
  margin: 0 0 0 6px;
  border: none;
  background: transparent;
  color: var(--theme-comment);
}

.search-bottom-bar .search-type-toggles .search-type-btn:active {
  outline: none;
}

.search-bottom-bar .search-type-toggles .search-type-btn.active {
  color: var(--theme-selection-background);
}

.theme-dark .search-bottom-bar .search-type-toggles .search-type-btn.active {
  color: white;
}

.search-bar .result-list {
  max-height: 230px;
}
/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.theme-dark,
.theme-light {
  --number-color: var(--theme-highlight-green);
  --string-color: var(--theme-highlight-red);
  --null-color: var(--theme-comment);
  --object-color: var(--theme-highlight-blue);
  --caption-color: var(--theme-highlight-blue);
  --location-color: var(--theme-comment);
  --source-link-color: var(--theme-highlight-blue);
  --node-color: var(--theme-highlight-purple);
  --reference-color: var(--theme-highlight-blue);
  --comment-node-color: var(--theme-comment);
}

.theme-firebug {
  --number-color: #000088;
  --string-color: #FF0000;
  --null-color: #787878;
  --object-color: DarkGreen;
  --caption-color: #444444;
  --location-color: #555555;
  --source-link-color: blue;
  --node-color: rgb(0, 0, 136);
  --reference-color: rgb(102, 102, 255);
}

/******************************************************************************/

.inline {
  display: inline;
  white-space: normal;
}

.objectBox-object {
  font-weight: bold;
  color: var(--object-color);
  white-space: pre-wrap;
}

.objectBox-string,
.objectBox-symbol,
.objectBox-text,
.objectBox-textNode,
.objectBox-table {
  white-space: pre-wrap;
}

.objectBox-number,
.objectBox-styleRule,
.objectBox-element,
.objectBox-textNode,
.objectBox-array > .length {
  color: var(--number-color);
}

.objectBox-textNode,
.objectBox-string,
.objectBox-symbol {
  color: var(--string-color);
}

.objectBox-string a, .objectBox-string a:visited {
  color: currentColor;
  text-decoration: none;
  font-style: italic;
}

.objectBox-string a:hover {
  text-decoration: underline;
}

.objectBox-function,
.objectBox-stackTrace,
.objectBox-profile {
  color: var(--object-color);
}

.objectBox-Location,
.location {
  color: var(--location-color);
}

.objectBox-null,
.objectBox-undefined,
.objectBox-hint,
.objectBox-nan,
.logRowHint {
  color: var(--null-color);
}

.objectBox-sourceLink {
  position: absolute;
  right: 4px;
  top: 2px;
  padding-left: 8px;
  font-weight: bold;
  color: var(--source-link-color);
}

.objectBox-failure {
  color: var(--string-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-size: 0.8em;
  padding: 0 2px;
}

/******************************************************************************/

.objectBox-event,
.objectBox-eventLog,
.objectBox-regexp,
.objectBox-object {
  color: var(--object-color);
  white-space: pre-wrap;
}

.objectBox .Date {
  color: var(--string-color);
  white-space: pre-wrap;
}

/******************************************************************************/

.objectBox.theme-comment {
  color: var(--comment-node-color);
}

.tag-name {
  color: var(--object-color);
}

.attrName {
  color: var(--string-color);
}

.attrEqual,
.objectEqual {
  color: var(--comment-node-color);
}

.attrValue,
.attrValue.objectBox-string {
  color: var(--node-color);
}

.angleBracket {
  color: var(--theme-body-color);
}

/******************************************************************************/
/* Length bubble for arraylikes and maplikes */

.objectLengthBubble {
  color: var(--null-color);
}

/******************************************************************************/

.objectLeftBrace,
.objectRightBrace,
.arrayLeftBracket,
.arrayRightBracket {
  color: var(--object-color);
}

/******************************************************************************/
/* Cycle reference */

.objectBox-Reference {
  font-weight: bold;
  color: var(--reference-color);
}

[class*="objectBox"] > .objectTitle {
  color: var(--object-color);
}

.caption {
  color: var(--caption-color);
}

/******************************************************************************/
/* Themes */

.theme-dark .objectBox-null,
.theme-dark .objectBox-undefined,
.theme-light .objectBox-null,
.theme-light .objectBox-undefined {
  font-style: normal;
}

.theme-dark .objectBox-object,
.theme-light .objectBox-object {
  font-weight: normal;
  white-space: pre-wrap;
}

.theme-dark .caption,
.theme-light .caption {
  font-weight: normal;
}

/******************************************************************************/
/* Open DOMNode in inspector button */

.open-inspector svg {
  fill: var(--comment-node-color);
  height: 16px;
  width: 16px;
  margin-left: .25em;
  cursor: pointer;
  vertical-align: middle;
}

.objectBox-node:hover .open-inspector svg,
.objectBox-textNode:hover .open-inspector svg,
.open-inspector svg:hover {
  fill: var(--theme-highlight-blue);
}

/******************************************************************************/
/* Jump to definition button */

.jump-definition svg {
  stroke: var(--comment-node-color);
  height: 16px;
  width: 16px;
  margin-left: .25em;
  cursor: pointer;
  vertical-align: middle;
}

.jump-definition svg:hover {
  stroke: var(--theme-highlight-blue);
}

/******************************************************************************/
/* "more…" ellipsis */
.more-ellipsis {
  color: var(--comment-node-color);
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tree.object-inspector .node.object-node {
  display: inline-block;
}

.tree.object-inspector .object-label,
.tree.object-inspector .object-label * {
  color: var(--theme-highlight-blue);
}

.tree.object-inspector .node .unavailable {
  color: var(--theme-comment);
}

.tree.object-inspector .lessen,
.tree.object-inspector .lessen *,
.tree.object-inspector .lessen .object-label,
.tree.object-inspector .lessen .object-label * {
  color: var(--theme-comment);
}

.object-inspector .object-delimiter {
  color: var(--theme-comment);
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.bracket-arrow {
  position: absolute;
}

.bracket-arrow::before,
.bracket-arrow::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border: 7px solid transparent;
}

.bracket-arrow.up::before {
  border-bottom-color: var(--theme-splitter-color);
  top: -1px;
}

.theme-dark .bracket-arrow.up::before {
  border-bottom-color: var(--theme-body-color);
}

.bracket-arrow.up::after {
  border-bottom-color: var(--theme-body-background);
  top: 0px;
}

.bracket-arrow.down::before {
  border-bottom-color: transparent;
  border-top-color: var(--theme-splitter-color);
  top: 0px;
}

.theme-dark .bracket-arrow.down::before {
  border-top-color: var(--theme-body-color);
}

.bracket-arrow.down::after {
  border-bottom-color: transparent;
  border-top-color: var(--theme-body-background);
  top: -1px;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.popover {
  position: fixed;
  z-index: 100;
}

.popover .gap {
  height: 5px;
  padding-top: 5px;
}

.popover .preview-popup {
  margin-left: -55px;
}

.popover .add-to-expression-bar {
  margin-left: -55px;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.popover .preview-popup {
  background: var(--theme-body-background);
  width: 350px;
  min-height: 80px;
  border: 1px solid var(--theme-splitter-color);
  padding: 10px;
  height: auto;
  min-height: inherit;
  max-height: 200px;
  overflow: auto;
  box-shadow: 1px 2px 3px var(--popup-shadow-color);
}

.theme-dark .popover .preview-popup {
  box-shadow: 1px 2px 3px var(--popup-shadow-color);
}

.popover .preview-popup .header-container {
  width: 100%;
  line-height: 15px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.popover .preview-popup .immutable-logo {
  width: 20px;
  margin-right: 5px;
}

.popover .preview-popup .header-container h3 {
  margin: 0;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
}

.popover .preview-popup .header .link {
  align-self: flex-end;
  color: var(--theme-highlight-blue);
  text-decoration: underline;
}

.preview-selection:hover {
  cursor: default;
}

.preview-selection,
.debug-expression.preview-selection {
  background-color: var(--theme-highlight-yellow);
}

.theme-dark .preview-selection,
.theme-dark .debug-expression.preview-selection {
  background-color: #743884;
}

.theme-dark .cm-s-mozilla .preview-selection,
.theme-dark .cm-s-mozilla .debug-expression.preview-selection {
  color: #e7ebee;
}

.popover .preview-popup .function-signature {
  padding-top: 10px;
}

.theme-dark .popover .preview-popup {
  border-color: var(--theme-body-color);
}

.theme-dark .popover .preview-popup .arrow svg {
  fill: var(--theme-comment);
}

.tooltip {
  position: fixed;
  z-index: 100;
}

.tooltip .preview-popup {
  background: var(--theme-toolbar-background);
  max-width: inherit;
  min-height: 80px;
  border: 1px solid var(--theme-splitter-color);
  box-shadow: 1px 2px 4px 1px var(--theme-toolbar-background-alt);
  padding: 5px;
  height: auto;
  min-height: inherit;
  max-height: 200px;
  overflow: auto;
}

.theme-dark .tooltip .preview-popup {
  border-color: var(--theme-body-color);
}

.tooltip .gap {
  height: 4px;
  padding-top: 4px;
}

.add-to-expression-bar {
  border: 1px solid var(--theme-splitter-color);
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 30px;
  background: var(--theme-toolbar-background);
  color: var(--theme-comment-alt);
  padding: 0 4px;
}

.add-to-expression-bar .prompt {
  width: 1em;
}

.add-to-expression-bar .expression-to-save-label {
  width: calc(100% - 4em);
}

.add-to-expression-bar .expression-to-save-button {
  font-size: 14px;
  color: var(--theme-comment);
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.call-site {
  background: #f0f9ff;
  position: relative;
}

.call-site::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 2px);
  border-bottom: 2px solid #aed3ef;
}

.call-site-bp {
  position: relative;
}

.debug-expression.call-site-bp,
.call-site-bp {
  background-color: #fce7e7;
}

.call-site-bp::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 2px);
  border-bottom: 2px solid red;
}

.theme-dark .call-site {
  background-color: #4b5462;
}

.theme-dark .call-site::before {
  border-bottom-color: #5f78a4;
}

.theme-dark .call-site-bp {
  background-color: #4b3f3f;
}

.theme-dark .call-site-bp::before {
  border-bottom-color: #dd4d4d;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.empty-line .CodeMirror-linenumber {
  opacity: 0.5;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.conditional-breakpoint-panel {
  cursor: initial;
  margin: 1em 0;
  position: relative;
  display: flex;
  align-items: center;
  background: var(--theme-toolbar-background);
  border-top: 1px solid var(--theme-splitter-color);
  border-bottom: 1px solid var(--theme-splitter-color);
}

.conditional-breakpoint-panel .prompt {
  font-size: 1.8em;
  color: var(--theme-conditional-breakpoint-color);
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  text-align: right;
  width: 30px;
}

.conditional-breakpoint-panel input {
  margin: 5px 10px;
  width: calc(100% - 4em);
  border: none;
  background: var(--theme-toolbar-background);
  font-size: 14px;
  color: var(--theme-conditional-breakpoint-color);
  line-height: 30px;
}

.conditional-breakpoint-panel input:focus {
  outline-width: 0;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.editor-wrapper {
  --debug-line-border: rgb(145, 188, 219);
  --debug-expression-background: rgba(202, 227, 255, 0.5);
  --editor-searchbar-height: 27px;
  --editor-second-searchbar-height: 27px;
  --debug-line-error-border: rgb(255, 0, 0);
  --debug-expression-error-background: rgba(231, 116, 113, 0.3);
  --editor-header-height: 30px;
}

.theme-dark .editor-wrapper {
  --debug-expression-background: #54617e;
  --debug-line-border: #7786a2;
}

.editor-wrapper .CodeMirror-linewidget {
  margin-right: -7px;
  overflow: hidden;
}

.editor-wrapper {
  min-width: 0 !important;
}

.theme-dark {
  --theme-conditional-breakpoint-color: #9fa4a9;
}

.theme-light {
  --theme-conditional-breakpoint-color: var(--theme-body-color);
}

/**
 * There's a known codemirror flex issue with chrome that this addresses.
 * BUG https://github.com/devtools-html/debugger.html/issues/63
 */
.editor-wrapper {
  position: absolute;
  height: calc(100% - var(--editor-header-height));
  width: calc(100% - 1px);
  top: var(--editor-header-height);
  left: 0px;
  --editor-footer-height: 24px;
}

html[dir="rtl"] .editor-mount {
  direction: ltr;
}

.editor-wrapper .breakpoints {
  position: absolute;
  top: 0;
  left: 0;
}

.function-search {
  max-height: 300px;
  overflow: hidden;
}

.function-search .results {
  height: auto;
}

.editor.hit-marker {
  height: 14px;
}

.editor-wrapper .highlight-lines {
  background: var(--theme-selection-background-hover);
}

.coverage-on .CodeMirror-code :not(.hit-marker) .CodeMirror-line,
.coverage-on .CodeMirror-code :not(.hit-marker) .CodeMirror-gutter-wrapper {
  opacity: 0.5;
}

.editor.new-breakpoint svg {
  fill: var(--theme-selection-background);
  width: 60px;
  height: 14px;
  position: absolute;
  top: 0px;
  right: -4px;
}

.inline-bp {
  background-color: #9ddfff;
  width: 20px;
  padding: 0px 5px;
  margin: 0px 4px;
  border-radius: 5px;
  border-color: blue;
  border: 1px solid #00b6ff;
}

.editor.new-breakpoint.folding-enabled svg {
  right: -16px;
}

.new-breakpoint.has-condition svg {
  fill: var(--theme-graphs-yellow);
}

.editor.new-breakpoint.breakpoint-disabled svg {
  opacity: 0.3;
}

.editor.column-breakpoint svg {
  fill: var(--theme-selection-background);
  vertical-align: middle;
  width: 17px;
  height: 14px;
}

.editor.column-breakpoint.breakpoint-disabled svg {
  opacity: 0.3;
}

.CodeMirror {
  width: 100%;
  height: 100%;
}

.editor-wrapper .editor-mount {
  width: 100%;
  background-color: var(--theme-body-background);
}

.CodeMirror-linenumber {
  font-size: 11px;
  line-height: 14px;
}

.folding-enabled .CodeMirror-linenumber {
  text-align: left;
  padding: 0 0 0 2px;
}

/* set the linenumber white when there is a breakpoint */
.new-breakpoint .CodeMirror-gutter-wrapper .CodeMirror-linenumber {
  color: white;
}

/* move the breakpoint below the other gutter elements */
.new-breakpoint .CodeMirror-gutter-elt:nth-child(2) {
  z-index: 0;
}

.editor-wrapper .CodeMirror-line {
  font-size: 11px;
}

.theme-dark .editor-wrapper .CodeMirror-line .cm-comment {
  color: var(--theme-comment);
}

.debug-expression {
  background-color: var(--debug-expression-background);
}

debug-expression-error {
  background-color: var(--debug-expression-error-background);
}

.new-debug-line .CodeMirror-line {
  background-color: transparent !important;
  outline: var(--debug-line-border) solid 1px;
}

/* Don't display the highlight color since the debug line
   is already highlighted */
.new-debug-line .CodeMirror-activeline-background {
  display: none;
}

.new-debug-line-error .CodeMirror-line {
  background-color: var(--debug-expression-error-background) !important;
  outline: var(--debug-line-error-border) solid 1px;
}

/* Don't display the highlight color since the debug line
  is already highlighted */
.new-debug-line-error .CodeMirror-activeline-background {
  display: none;
}

.highlight-line .CodeMirror-line {
  animation: fade-highlight-out 1.5s normal forwards;
}

@keyframes fade-highlight-out {
  0% {
    background-color: var(--theme-highlight-gray);
  }
  100% {
    background-color: transparent;
  }
}

.theme-dark .highlight-line .CodeMirror-line {
  animation: fade-highlight-out-dark 1.5s normal forwards;
}

@keyframes fade-highlight-out-dark {
  0% {
    background-color: var(--theme-comment);
  }
  100% {
    background-color: transparent;
  }
}

.CodeMirror-guttermarker-subtle {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.cm-highlight {
  position: relative;
}

.cm-highlight::before {
  position: absolute;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: var(--theme-comment-alt);
  border-bottom-color: var(--theme-comment-alt);
  border-top-width: 1px;
  border-bottom-width: 1px;
  top: -1px;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  margin-bottom: -1px;
}

.cm-highlight-full::before {
  border: 1px solid var(--theme-comment-alt);
  border-radius: 2px;
  margin: 0 -1px -1px -1px;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.breakpoints-toggle {
  margin: 2px 3px;
}

.breakpoints-list * {
  user-select: none;
}

.breakpoints-list .breakpoint {
  font-size: 12px;
  color: var(--theme-content-color1);
  padding: 0.5em 1em 0.5em 0.5em;
  line-height: 1em;
  position: relative;
  transition: all 0.25s ease;
}

html[dir="rtl"] .breakpoints-list .breakpoint {
  border-right: 4px solid transparent;
}

html:not([dir="rtl"]) .breakpoints-list .breakpoint {
  border-left: 4px solid transparent;
}

.breakpoints-list .breakpoint:last-of-type {
  padding-bottom: 0.45em;
}

html:not([dir="rtl"]) .breakpoints-list .breakpoint.is-conditional {
  border-left-color: var(--theme-graphs-yellow);
}

html[dir="rtl"] .breakpoints-list .breakpoint.is-conditional {
  border-right-color: var(--theme-graphs-yellow);
}

html .breakpoints-list .breakpoint.paused {
  background-color: var(--theme-toolbar-background-alt);
  border-color: var(--breakpoint-active-color);
}

.breakpoints-list .breakpoint.disabled .breakpoint-label {
  color: var(--theme-comment);
  transition: color 0.5s linear;
}

.breakpoints-list .breakpoint:hover {
  background-color: var(--search-overlays-semitransparent);
}

.breakpoints-list .breakpoint.paused:hover {
  border-color: var(--breakpoint-active-color-hover);
}

.breakpoints-list .breakpoint-label {
  max-width: calc(100% - var(--breakpoint-expression-right-clear-space));
  display: inline-block;
  padding-inline-start: 2px;
  cursor: default;
}

.breakpoint-label .breakpoint-checkbox {
  margin-inline-start: 0;
  vertical-align: text-bottom;
}

.breakpoint-label .location {
  width: 100%;
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 1px 0;
  vertical-align: bottom;
}

.breakpoints-list .pause-indicator {
  flex: 0 1 content;
  order: 3;
}

:root.theme-light .breakpoint-snippet,
:root.theme-firebug .breakpoint-snippet {
  color: var(--theme-comment);
}

:root.theme-dark .breakpoint-snippet {
  color: var(--theme-body-color);
  opacity: 0.6;
}

.breakpoint-snippet {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline-start: 18px;
  padding-inline-end: 18px;
}

.breakpoint .close-btn {
  position: absolute;
  inset-inline-end: 13px;
  inset-inline-start: auto;
  top: 9px;
}

.breakpoint .close {
  visibility: hidden;
}

.breakpoint:hover .close {
  visibility: visible;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.expression-input-form {
  width: 100%;
}

.input-expression {
  width: 100%;
  margin: 0;
  border: 1px;
  background-color: var(--theme-sidebar-background);
  font-size: 12px;
  padding: 0.5em 2.16em;
  color: var(--theme-body-color);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-10px);
  }
  40%,
  80% {
    transform: translateX(10px);
  }
}

.input-expression.error {
  border: 1px solid red;
  animation: 150ms cubic-bezier(0.07, 0.95, 0, 1) shake;
}

.input-expression::placeholder {
  text-align: center;
  font-style: italic;
  color: var(--theme-comment);
}

.input-expression:focus {
  outline: none;
  cursor: text;
}

.expressions-list {
  /* TODO: add normalize */
  margin: 0;
  padding: 0;
}
.expression-input-container {
  display: flex;
}

.expression-container {
  border: 1px;
  padding: 0.25em 1em 0.25em 0.5em;
  width: 100%;
  color: var(--theme-body-color);
  background-color: var(--theme-body-background);
  display: block;
  position: relative;
}

.expression-container > .tree {
  width: 100%;
  overflow: hidden;
}

:root.theme-light .expression-container:hover {
  background-color: var(--theme-selection-background-hover);
}

:root.theme-dark .expression-container:hover {
  background-color: var(--theme-selection-background-hover);
}

:root.theme-firebug .expression-container:hover {
  background-color: var(--theme-selection-background-hover);
}

.tree  .tree-node:not(.focused):hover {
  background-color: transparent;
}

.expression-container__close-btn {
  position: absolute;
  inset-inline-end: 0px;
  top: 0px;
}

.expression-content {
  position: relative;
}

.expression-content .tree {
  overflow-x: hidden;
  max-width: calc(100% - var(--breakpoint-expression-right-clear-space));
}

.expression-content .tree-node {
  overflow-x: hidden;
}

.expression-input {
  max-width: 50%;
}

.expressions-list .tree:focus {
  outline: none;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.frames ul .frames-group .group,
.frames ul .frames-group .group .location {
  font-weight: 500;
  cursor: default;
}

.frames ul .frames-group.expanded .group,
.frames ul .frames-group.expanded .group .location {
  color: var(--theme-highlight-blue);
}

.frames ul .frames-group.expanded .react path {
  fill: var(--theme-highlight-blue);
}

.frames ul .frames-group .frames-list li {
  padding-left: 30px;
}

.frames ul .frames-group .frames-list {
  border-top: 1px solid var(--theme-splitter-color);
  border-bottom: 1px solid var(--theme-splitter-color);
}

.frames ul .frames-group.expanded .badge {
  color: var(--theme-highlight-blue);
}
.badge {
  --size: 17px;
  --radius: calc(var(--size) / 2);
  height: var(--size);
  min-width: var(--size);
  line-height: var(--size);
  background: var(--theme-toolbar-background-hover);
  color: var(--theme-body-color);
  border-radius: var(--radius);
  padding: 0 4px;
  font-size: 0.9em;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.why-paused {
  background-color: var(--theme-body-background);
  color: var(--theme-body-color);
  padding: 10px 10px 10px 20px;
  white-space: normal;
  opacity: 0.6;
  font-size: 12px;
  flex: 0 1 auto;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  cursor: default;
}

.theme-dark .secondary-panes .why-paused {
  color: white;
}

.why-paused .message {
  font-size: 10px;
}

.why-paused .message.warning {
  font-size: 10px;
  color: var(--theme-graphs-red);
  font-weight: bold;
  font-style: normal;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.frames ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.frames ul li {
  padding: 0 10px 0 21px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.frames ul li * {
  -moz-user-select: none;
  user-select: none;
}

.frames .badge {
  flex-shrink: 0;
  margin-right: 4px;
}

.frames .location {
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0;
  flex-shrink: 0;
}

.theme-light .frames .location,
.theme-firebug .frames .location {
  color: var(--theme-comment);
}

:root.theme-dark .frames .location {
  color: var(--theme-body-color);
  opacity: 0.6;
}

.frames .title {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 7px 0.5em 7px 0;
}

.frames ul li:hover,
.frames ul li:focus {
  background-color: var(--theme-toolbar-background-alt);
  outline: none;
}

.theme-dark .frames ul li:focus {
  background-color: var(--theme-tab-toolbar-background);
}

.frames ul li.selected {
  background-color: var(--theme-selection-background);
  color: white;
}

.frames ul li.selected i.annotation-logo svg path {
  fill: white;
}

:root.theme-light .frames ul li.selected .location,
:root.theme-firebug .frames ul li.selected .location,
:root.theme-dark .frames ul li.selected .location {
  color: white;
}

.show-more-container {
  display: flex;
}

.show-more {
  text-align: center;
  padding: 8px 0px;
  margin: 7px 10px 7px 7px;
  border: 1px solid var(--theme-splitter-color);
  background-color: var(--theme-tab-toolbar-background);
  width: 100%;
  font-size: inherit;
}

.show-more:hover {
  background-color: var(--theme-toolbar-background-hover);
}

.annotation-logo {
  width: 12px;
  margin-left: 3px;
  line-height: 8px;
}

:root.theme-dark .annotation-logo svg path {
  fill: var(--theme-highlight-blue);
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.event-listeners {
  list-style: none;
  margin: 0;
  padding: 0;
}

.event-listeners .listener {
  padding: 7px 10px 7px 21px;
  clear: both;
  overflow: hidden;
}

.event-listeners .listener * {
  -moz-user-select: none;
  user-select: none;
}

.event-listeners .listener:nth-of-type(2n) {
  background-color: var(--theme-tab-toolbar-background);
}

.event-listeners .listener .type {
  color: var(--theme-highlight-bluegrey);
  padding-right: 5px;
}

.event-listeners .listener .selector {
  color: var(--theme-content-color2);
}

.event-listeners .listener-checkbox {
  margin-left: 0;
}

.event-listeners .listener .close-btn {
  float: right;
}

.event-listeners .listener .close {
  display: none;
}

.event-listeners .listener:hover .close {
  display: block;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.workers-list * {
  user-select: none;
}

.workers-list .worker {
  font-size: 1rem;
  color: var(--theme-content-color1);
  padding: 0 1em;
  line-height: 31px;
  position: relative;
  transition: all 0.25s ease;
  cursor: pointer;
}

.worker-list .worker:hover {
  background-color: var(--search-overlays-semitransparent);
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

:root {
  --accordion-header-background: var(--theme-toolbar-background);
  --disclosure-arrow: #b2b2b2;
}

:root.theme-dark {
  --accordion-header-background: #222225;
  --disclosure-arrow: #7f7f81;
}

.accordion {
  background-color: var(--theme-sidebar-background);
  width: 100%;
}

.accordion ._header {
  background-color: var(--accordion-header-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  display: flex;
  font-size: 12px;
  padding: 4px;
  transition: all 0.25s ease;
  width: 100%;
  height: 24px;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.accordion ._header:hover {
  background-color: var(--theme-toolbar-background-hover);
}

.accordion ._header button svg,
.accordion ._header:hover button svg {
  fill: currentColor;
  height: 16px;
}

.accordion ._content {
  border-bottom: 1px solid var(--theme-splitter-color);
  font-size: 12px;
}

.accordion div:last-child ._content {
  border-bottom: none;
}

.accordion ._header .header-buttons {
  display: flex;
  margin-left: auto;
  padding-right: 5px;
}

.accordion .header-buttons .add-button {
  font-size: 180%;
  text-align: center;
  line-height: 16px;
}

.accordion .header-buttons button {
  color: var(--theme-body-color);
  border: none;
  background: none;
  outline: 0;
  padding: 0;
  width: 16px;
  height: 16px;
}

.accordion .header-buttons button::-moz-focus-inner {
  border: none;
}

.accordion .arrow svg {
  fill: var(--disclosure-arrow);
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.command-bar {
  flex: 0 0 30px;
  border-bottom: 1px solid var(--theme-splitter-color);
  display: flex;
  overflow: hidden;
  z-index: 1;
  background-color: var(--theme-toolbar-background);
}

html[dir="rtl"] .command-bar {
  border-right: 1px solid var(--theme-splitter-color);
}

.theme-dark .command-bar {
  background-color: var(--theme-toolbar-background);
}

img.pause,
img.stepOver,
img.stepIn,
img.stepOut,
img.resume,
img.rewind,
img.reverseStepOver,
img.reverseStepIn,
img.reverseStepOut,
img.replay-previous,
img.replay-next,
img.resume {
  background-color: var(--theme-body-color);
}

.command-bar img.pause {
  mask: url("chrome://devtools/skin/images/debugger/pause.svg") no-repeat;
}

.command-bar img.stepOver {
  mask: url("chrome://devtools/skin/images/debugger/stepOver.svg") no-repeat;
}

.command-bar img.stepIn {
  mask: url("chrome://devtools/skin/images/debugger/stepIn.svg") no-repeat;
}

.command-bar img.stepOut {
  mask: url("chrome://devtools/skin/images/debugger/stepOut.svg") no-repeat;
}

.command-bar img.resume {
  mask: url("chrome://devtools/skin/images/debugger/resume.svg") no-repeat;
}

.command-bar img.rewind {
  mask: url("chrome://devtools/skin/images/debugger/resume.svg") no-repeat;
  transform: scaleX(-1);
}

.command-bar img.reverseStepOver {
  mask: url("chrome://devtools/skin/images/debugger/stepOver.svg") no-repeat;
  transform: scaleX(-1);
}

.command-bar img.reverseStepIn {
  mask: url("chrome://devtools/skin/images/debugger/stepIn.svg") no-repeat;
  transform: scaleX(-1);
}

.command-bar img.reverseStepOut {
  mask: url("chrome://devtools/skin/images/debugger/stepOut.svg") no-repeat;
  transform: scaleX(-1);
}

.command-bar > .pause-exceptions.uncaught.enabled > img.pause-exceptions {
  background-color: var(--theme-highlight-purple);
}

.command-bar > .pause-exceptions.all.enabled > img.pause-exceptions {
  background-color: var(--theme-highlight-blue);
}

.command-bar > .pause-exceptions.enabled > img.pause-exceptions {
  background-color: var(--theme-body-color);
}

.command-bar img.pause-exceptions {
  mask: url("chrome://devtools/skin/images/debugger/pause-exceptions.svg") no-repeat;
  margin-inline-start: 0.2em;
}

.command-bar .filler {
  flex-grow: 1;
}

.command-bar img.replay-previous {
  mask: url("chrome://devtools/skin/images/debugger/back.svg") no-repeat;
  mask-size: 75%;
  margin-top: 5px;
}

.command-bar img.replay-next {
  mask: url("chrome://devtools/skin/images/debugger/forward.svg") no-repeat;
  mask-size: 75%;
  margin-top: 5px;
}

.command-bar .replay-inactive {
  opacity: 0.5;
}

.command-bar .step-position {
  color: var(--theme-comment-alt);
  padding-top: 8px;
  margin-inline-end: 4px;
}

.command-bar .replay-active {
  color: var(--theme-highlight-blue);
}

.command-bar .subSettings {
  float: right;
}

.bottom {
  border-bottom: none;
  background-color: var(--theme-body-background);
  border-top: 1px solid var(--theme-splitter-color);
  flex: 0 0 25px;
}

.command-bar.bottom {
  justify-content: flex-end;
}

.command-bar.bottom > button {
  color: var(--theme-comment);
  width: 26px;
}
.command-bar.bottom > button:hover {
  color: var(--theme-body-color);
}

.command-bar .divider {
  width: 1px;
  background: var(--theme-splitter-color);
  height: 10px;
  margin: 11px 6px 0 6px;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.dropdown {
  --width: 150px;
  background: var(--theme-body-background);
  border: 1px solid var(--theme-splitter-color);
  box-shadow: 0 4px 4px 0 var(--search-overlays-semitransparent);
  max-height: 300px;
  position: absolute;
  right: 0;
  top: 23px;
  width: var(--width);
  z-index: 1000;
  overflow: auto;
}

html[dir="rtl"] .dropdown {
  right: calc((var(--width) - 11px) * (-1));
}

.dropdown-block {
  padding: 0px 2px;
  position: relative;
  align-self: center;
  height: 100%;
}

.dropdown-button {
  color: var(--theme-comment);
  background: none;
  border: none;
  padding: 0;
  font-weight: 100;
  font-size: 14px;
  height: 100%;
  width: 24px;
}

.dropdown li {
  transition: all 0.25s ease;
  padding: 2px 10px 10px 5px;
  overflow: hidden;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown li:hover {
  background-color: var(--search-overlays-semitransparent);
}

.dropdown-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
}

.dropdown-icon.prettyPrint {
  mask: url("chrome://devtools/skin/images/debugger/prettyPrint.svg") no-repeat;
  mask-size: 100%;
  background: var(--theme-highlight-blue);
}

.dropdown-icon.blackBox {
  mask: url("chrome://devtools/skin/images/debugger/blackBox.svg") no-repeat;
  mask-size: 100%;
  background: var(--theme-highlight-blue);
}

.dropdown-icon.file {
  mask: url("chrome://devtools/skin/images/debugger/file.svg") no-repeat;
  mask-size: 100%;
}

.dropdown ul {
  list-style: none;
  line-height: 2em;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.dropdown-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 999;
  left: 0;
  top: 0;
}
.dropdown span.icon-spacer {
  margin-left: 8px;
}

.dropdown li.first {
  border-bottom: 1px solid var(--theme-toolbar-background-hover);
}

img.pause-next,
img.pause-on-exceptions,
img.pause-uncaught-exceptions,
img.ignore-exceptions {
  vertical-align: middle;
  width: 16px;
  height: 20px;
  display: inline-block;
}

.dropdown div > img.pause-next {
  mask: url("chrome://devtools/skin/images/debugger/pause.svg") no-repeat;
  background-color: var(--theme-body-color);
}

.dropdown div > img.ignore-exceptions {
  mask: url("chrome://devtools/skin/images/debugger/pause-exceptions.svg") no-repeat;
  background-color: var(--theme-body-color);
}

.dropdown div > img.pause-uncaught-exceptions {
  mask: url("chrome://devtools/skin/images/debugger/pause-exceptions.svg") no-repeat;
  background-color: var(--theme-highlight-purple);
}

.dropdown div > img.pause-on-exceptions {
  mask: url("chrome://devtools/skin/images/debugger/pause-exceptions.svg") no-repeat;
  background-color: var(--theme-highlight-blue);
}

.dropdown div.pause-next.active,
.dropdown div.pause-on-exceptions.active,
.dropdown div.pause-uncaught-exceptions.active,
.dropdown div.ignore-exceptions.active > span.icon-spacer {
  color: var(--theme-highlight-blue);
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.object-node.default-property {
  opacity: 0.6;
}

.object-label {
  color: var(--theme-highlight-blue);
}

.objectBox-object,
.objectBox-string,
.objectBox-text,
.objectBox-table,
.objectLink-textNode,
.objectLink-event,
.objectLink-eventLog,
.objectLink-regexp,
.objectLink-object,
.objectLink-Date,
.theme-dark .objectBox-object,
.theme-light .objectBox-object {
  white-space: nowrap;
}

.scopes-pane {
  overflow: auto;
}

.scopes-list {
  padding-inline-start: 4px;
}

.scopes-list .tree:focus {
  outline: none;
}

.scopes-list .function-signature {
  display: inline-block;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.secondary-panes {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  white-space: nowrap;
  --breakpoint-expression-right-clear-space: 36px;
}

/*
  We apply overflow to the container with the commandbar.
  This allows the commandbar to remain fixed when scrolling
  until the content completely ends. Not just the height of
  the wrapper.
  Ref: https://github.com/devtools-html/debugger.html/issues/3426
*/

.secondary-panes-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.secondary-panes .accordion {
  flex: 1 0 auto;
}

.pane {
  color: var(--theme-body-color);
}

.pane .pane-info {
  font-style: italic;
  text-align: center;
  padding: 0.5em;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

.secondary-panes .breakpoints-buttons {
  display: flex;
}

.secondary-panes .accordion .plus svg {
  width: 12px;
  margin-top: 3px;
  fill: var(--theme-comment-alt);
}

.secondary-panes .accordion .plus.active svg {
  fill: var(--theme-highlight-blue);
}

.dropdown {
  width: 20em;
  overflow: auto;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.welcomebox {
  width: calc(100% - 1px);

  /* Offsetting it by 30px for the sources-header area */
  height: calc(100% - 30px);
  position: absolute;
  top: 30px;
  left: 0;
  padding: 50px 0 0 0;
  text-align: center;
  font-size: 1.25em;
  background-color: var(--theme-toolbar-background);
  font-weight: lighter;
  z-index: 10;
  user-select: none;
}

.theme-dark .welcomebox {
  background-color: var(--theme-body-background);
}

.welcomebox .command-bar-button {
  position: absolute;
  top: auto;
  inset-inline-end: 0;
  inset-inline-start: auto;
  bottom: 0;
}

.alignlabel {
  display: flex;
  white-space: nowrap;
}

.shortcutKeys {
  font-family: Courier;
}

.shortcutKey,
.shortcutLabel {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shortcutKey {
  text-align: right;
  padding-right: 10px;
  font-family: Courier;
}

.shortcutLabel {
  text-align: left;
  padding-left: 10px;
}

.shortcutFunction {
  flex: 1;
  color: var(--theme-comment);
}

.shortcutFunction p {
  display: flex;
}

html .welcomebox .toggle-button-end.collapsed {
  bottom: 1px;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.source-header {
  border-bottom: 1px solid var(--theme-splitter-color);
  width: 100%;
  height: 30px;
  display: flex;
}

.source-header * {
  -moz-user-select: none;
  user-select: none;
}

.source-header .new-tab-btn {
  padding: 4px;
  margin-top: 4px;
  margin-left: 2px;
  fill: var(--theme-comment);
  transition: 0.1s ease;
  align-self: center;
}

.source-header .new-tab-btn:hover {
  background-color: var(--theme-toolbar-background-hover);
}

.source-header .new-tab-btn svg {
  width: 12px;
  display: block;
}

.source-tabs {
  max-width: calc(100% - 80px);
  align-self: flex-start;
}

.source-tab {
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: inline-flex;
  align-items: center;
  position: relative;
  transition: all 0.15s ease;
  min-width: 40px;
  overflow: hidden;
  padding: 5px;
  margin-inline-start: 3px;
  margin-top: 3px;
  cursor: default;
}

.source-tab:first-child {
  margin-inline-start: 0;
}

.source-tab:hover {
  background-color: var(--theme-toolbar-background-alt);
  border-color: var(--theme-splitter-color);
}

.source-tab.active {
  color: var(--theme-body-color);
  background-color: var(--theme-body-background);
  border-color: var(--theme-splitter-color);
  border-bottom-color: transparent;
}

.source-tab.active path,
.source-tab:hover path {
  fill: var(--theme-body-color);
}

.source-tab img.prettyPrint {
  mask: url("chrome://devtools/skin/images/debugger/prettyPrint.svg") no-repeat;
  mask-size: 100%;
  padding-top: 12px;
  height: 12px;
  width: 12px;
  background: var(--theme-highlight-blue);
}

.source-tab .prettyPrint path {
  fill: var(--theme-textbox-box-shadow);
}

.source-tab .blackBox,
.source-tab .prettyPrint {
  align-self: center;
}

.source-tab img.blackBox {
  mask: url("chrome://devtools/skin/images/debugger/blackBox.svg") no-repeat;
  mask-size: 100%;
  padding-top: 12px;
  height: 12px;
  width: 12px;
  background: var(--theme-highlight-blue);
}

.source-tab img.react {
  mask: url("chrome://devtools/skin/images/debugger/react.svg") no-repeat;
  mask-size: 100%;
  padding-top: 12px;
  height: 14px;
  width: 14px;
  background: var(--theme-highlight-bluegrey);
}

.source-tab .blackBox path {
  fill: var(--theme-textbox-box-shadow);
}

.theme-dark .source-tab .blackBox circle {
  fill: var(--theme-body-color);
}

.source-tab .filename {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 4px;
  align-self: flex-start;
}

.source-tab .close-btn {
  visibility: hidden;
  line-height: 0;
}

.source-tab.active .close-btn {
  visibility: visible;
}

.source-tab:hover .close-btn {
  visibility: visible;
}
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.result-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  width: calc(100% - 1px); /* 1px fixes the hidden right border */
  background: var(--theme-body-background);
}

.result-list * {
  -moz-user-select: none;
  user-select: none;
}

.result-list li {
  color: var(--theme-body-color);
  padding: 4px 13px;
  display: flex;
  justify-content: space-between;
}

.result-list.big li {
  padding: 10px;
  flex-direction: column;
  border-bottom: 1px solid var(--theme-splitter-color);
}

.result-list li:hover {
  background: var(--theme-tab-toolbar-background);
}

.result-list li.selected {
  background: var(--accordion-header-background);
}

.result-list.small li.selected {
  background-color: var(--theme-selection-background);
  color: white;
}

.theme-dark .result-list.small li.selected {
  background-color: var(--theme-body-background);
}

.theme-dark .result-list li:hover {
  background: var(--grey-70);
}

.theme-dark .result-list li.selected {
  background: var(--grey-70);
}

.result-list li .title {
  line-height: 1.5em;
  word-break: break-all;
}

.result-list li.selected .title {
  color: white;
}

.result-list.big li.selected .title {
  color: var(--theme-body-color);
}

.result-list.big li .subtitle {
  word-break: break-all;
  color: var(--theme-body-color-inactive);
}

.result-list.big li .subtitle {
  line-height: 1.5em;
}

.theme-dark .result-list.big li .subtitle {
  color: var(--theme-comment-alt);
}

.search-bar .result-list li.selected .subtitle {
  color: white;
}

.search-bar .result-list {
  border-bottom: 1px solid var(--theme-splitter-color);
}

.theme-dark .result-list {
  background-color: var(--theme-body-background);
}
.result-item .title .highlight {
  font-weight: bold;
}

.result-item .subtitle .highlight {
  color: var(--grey-90);
  font-weight: 500;
}

.theme-dark .result-item .title .highlight,
.theme-dark .result-item .subtitle .highlight {
  color: white;
}

.loading-indicator {
  padding: 5px 0 5px 0;
  text-align: center;
}
